<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">

	<link rel="icon" type="image/png" href="public/img/favicon.ico">
	<title>Watt-Now</title>

	<link href="https://fonts.googleapis.com/css?family=Dosis|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="public/leaflet/leaflet.css">
	<link rel="stylesheet" href="public/css/style.css">
</head>
<body>

	<div id="map"></div>

  <script src="public/leaflet/leaflet.js"></script>
  <script src="public/leaflet/init.js"></script>
  <script src="public/js/script.js"></script>

  <script>
    drawMap(<%- foodTrucks %>);
  </script>
</body>
</html>
