body {
  margin: 0;
  color: #222;
  background-color: lightblue;
}

#map {
  width: 100vw;
  height: 100vh;
}

.register-form, .tooltip {
  position: absolute;
  pointer-events: none;
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .5);
}

.register-form {
  z-index: 500;
  background-color: #ccc
}

.tooltip {
  z-index: 450;
  color: #fff;
  background-color: #009;
}
.tooltip p {
  position: relative;
  padding: .5rem 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
