body {
  margin: 0;
  color: #222;
  background-color: lightblue;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  margin: 2rem;
  background-color: #fff;
  transform: translateX(calc(100% + 4rem));
  transition: .1s ease-in-out;
}

.notification.active {
  transform: translateX(0);
}

.notification.hidden {
  transform: translateX(calc(100% + 4rem));
}

.notification.neutral {
  background-color: #fff;
}

.notification.positive {
  background-color: green;
}

.notification.negative {
  background-color: red;
}

.notification:nth-of-type(2) { transform: translateY(calc((100% * 1) + (1rem * 1))); }
.notification:nth-of-type(3) { transform: translateY(calc((100% * 2) + (1rem * 2))); }
.notification:nth-of-type(4) { transform: translateY(calc((100% * 3) + (1rem * 3))); }
.notification:nth-of-type(5) { transform: translateY(calc((100% * 4) + (1rem * 4))); }
.notification:nth-of-type(6) { transform: translateY(calc((100% * 5) + (1rem * 5))); }
.notification:nth-of-type(7) { transform: translateY(calc((100% * 6) + (1rem * 6))); }
.notification:nth-of-type(8) { transform: translateY(calc((100% * 7) + (1rem * 7))); }
.notification:nth-of-type(9) { transform: translateY(calc((100% * 8) + (1rem * 8))); }
.notification:nth-of-type(10) { transform: translateY(calc((100% * 9) + (1rem * 9))); }

.notification button {
  background-color: blue;
  color: #fff;
}

#map {
  width: 100vw;
  height: 100vh;
}

.register-form, .tooltip {
  position: absolute;
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .5);
}

.register-form {
  z-index: 500;
  background-color: #ccc
}

.tooltip {
  z-index: 450;
  color: #fff;
  pointer-events: none;
  background-color: #009;
}
.tooltip p {
  position: relative;
  padding: .5rem 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
